<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../static/imagenes/logo.svg" alt="Logo de Sparta">
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Principal</a></li>
                <li><a href="{% url 'home' %}">Formulario</a></li>
                <li><a href="">Login</a></li>
            </ul>
        </nav>
    </header>
    <h1>Bienvenido a Sparta</h1>
    <hr />
</body>
</html>
